<div class="col s2"></div>
<div class="col s10">
  <div class="section">
    <p>0.2未満の件数 0</p>
  </div>
  <div class="divider"></div>
  <div class="row">
    <% @random_values.each do |rv| %>
      <div class="col s1">
        <div class="card yellow lighten-4">
          <div class="card-content">
            <%= rv %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>