.content-def {
    padding: 1em 0;
    text-align: center;
}

.color-def {
    @extend .yellow;
    @extend .lighten-4;
    @extend .black-text;
}

.color-attend {
    @extend .red;
    @extend .darken-1;
    @extend .white-text;
}

.dis-none {
    display: none;
}